/* Centers the Image */
.imageBorder {
    /* Centers the Image */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.image {
    height: 50vh;
    max-width: auto;
    cursor: pointer;
}

section, header, footer {
    min-width: 80vw;
    margin-bottom: none;
    padding: 20px;
    background-color: #1a2a43;
    justify-self: center;
    border-bottom:solid .01em aliceblue;
}

footer {
    border: none;
}


