.contact {
   padding: 1%;
   border-right: 0.0625em solid #000000;
   display: flex;
   flex-direction: column;
   justify-content: flex-start; /* Adjusted to start from the top */
   align-items:first baseline; /* Adjusted to align items to the start (left) */
}

.header {
    color: aliceblue;
    font-size: 2.4vh;
}